apiVersion: v1
kind: Service
metadata:
  name: {{ include "influxdb3.fullname" . }}
  namespace: {{ include "influxdb3.namespace" . }}
  labels:
{{ include "influxdb3.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
{{ include "influxdb3.selectorLabels" . | indent 4 }}
