{{- $pgUser := coalesce .Values.auth.username (dig "postgresql" "user" "" .Values.global) -}}
{{- $pgPassword := coalesce .Values.auth.password (dig "postgresql" "password" "" .Values.global) -}}
{{- $pgDatabase := coalesce .Values.auth.database (dig "postgresql" "database" "" .Values.global) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "postgresql.fullname" . }}-credentials
  namespace: {{ include "postgresql.namespace" . }}
  labels:
{{ include "postgresql.labels" . | indent 4 }}
type: Opaque
stringData:
  POSTGRES_USER: {{ $pgUser | quote }}
  POSTGRES_PASSWORD: {{ $pgPassword | quote }}
  POSTGRES_DB: {{ $pgDatabase | quote }}
