{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "grafana.serviceAccountName" . }}
  namespace: {{ include "grafana.namespace" . }}
  labels:
{{ include "grafana.labels" . | indent 4 }}
{{- end -}}
